*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Crimson Text', serif;
}
html{
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	/*background-color: grey;
	background-image: url(../images/bg1.jpeg);
	background-position: center;
	background-size: cover;
	background-blend-mode: soft-light;*/
	background-color: #000022;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	line-height: 1.4;
}

.container{
	background-color: lightgrey;
	max-width: 960px;
	margin: 0 auto;
}

/*HEADER*/
.main-head{
	display: grid;
	padding: 1rem;
	background-color: lightgrey;
	min-height: 100px;
	box-shadow: 2px 2px 6px rgba(104, 104, 104, 1);
	color: hsla(0,0,0,0.9);
}
.header-content{
	display: flex;
	padding: .5rem;

}
.right{
	width: 13%;
}
.right img{
	height: 110px;
	width: 100px;
}
.left{
	width: 60%;
	padding-top: .6rem;
	color: hsla(0,0,0,0.9);
}
.head{
	float: left;
}
/*NAV*/
.main-nav ul{
	display: grid;
	grid-gap: 20px; /*gap between grids*/
	grid-template-columns: repeat(4, 1fr);
	list-style: none;
	padding: 0;

}
.main-nav a{
	background-color: lightgrey;
	display: block;
	text-decoration: none;
	padding: 0.5rem;
	text-align: center;
	color: grey;
	box-shadow: 2px 2px 6px rgba(104, 104, 104, 1);
	font-size: 16px;
	font-weight: bolder;
}
.main-nav{
	padding: 1rem;
	top: 0;
	position: sticky;
	z-index: 50;
}
.main-nav a:hover{
	background-color: silver;
	color: black;
}

/*ABOUT ME*/
.main-about{
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	'resume resume resume resume sidebox-a'
	'resume resume resume resume sidebox-b';
}
.resume{
	display: block;
	grid-gap: 10px;
	grid-area: resume;
	background-image: url(../images/bg1.jpeg);
	background-color: grey;
	background-position: center;
	background-size: cover;
	background-blend-mode: soft-light;
	min-height: 400px;
	padding: 2rem;
	box-shadow: 2px 2px 6px rgba(104, 104, 104, 1);
	color: #f2f2f2;
}
.resume h1{
	font-size: 35px;
	padding-top: 9rem;
	border-bottom: 2px solid white;
}

.resume p{
	font-size: 20px;
}

.box{
	background-color: lightgrey;
	box-shadow: 2px 2px 6px rgba(104, 104, 104, 1);
}
.sidebox-a{
	grid-area: sidebox-a;
	padding: .9rem;
	text-align: center;
}
.sidebox-a h3{
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	font-size: 20px;
}
.btn{
	padding: 0.5rem;
	color: grey;
	border: 5px solid grey;
	border-radius: 10px;
}
.btn a{
	text-decoration: none;
	color: grey;
}
.btn:hover{
	background-color: green;
	color: white;
}


.sidebox-b{
	grid-area: sidebox-b;
	padding: 1rem;
	text-align: center;
}
fieldset{
	border:5px solid grey;
	border-radius: 10px 10px 10px 10px;

}
legend h3{
	font-size: 20px;
}
.sidebox-b ul{
	list-style: none;
	/*display: flex;*/
}
.soc-icon{
	
	float: left;
	height: 40px;
	width: 19%;
	margin-left: 1px;
	margin-bottom: 20px;
}


/*SKILLS*/
.skills{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(5, 1fr);
	padding:1rem;
}

.skills div{
	background-color: lightgrey;
	min-height: 200px;
	padding: 1rem;
	box-shadow: 2px 2px 6px rgba(104, 104, 104, 1);
	text-align: center;

}
.skills-icon{
	height: 100px;
	width: 100px;
}
.rate{
	background-color: green;
	width: 100%;
	border:2px solid grey;
	border-radius: 10px;
	color: green;
}
.rate2{
	width:50%;
	background-color: #A2CA44;
	border:2px solid grey;
	border-radius: 10px;
	color: #A2CA44;
}
.grade:hover{
	color: white;

}

/*CAPSTONE*/
.capstone{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	padding: 1rem;
}
.capstone div{
	background-color: lightgrey;
	min-height: 300px;
	padding: 1rem;
	box-shadow: 2px 2px 6px rgba(104, 104, 104, 1);
}
.capstone-content h3{
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;

}
.capstone-content button{
	padding: .5rem;
	/*margin-top: 20px;*/
}
.capstone-content p{
	margin-bottom: 10px;
}
.capstone-slider{
	display: grid;
	background-color: lightgrey;
	min-height: 400px;
	box-shadow: 2px 2px 6px rgba(104, 104, 104, 1);
	padding: 2rem;
}


/*EXTRAS*/
.main-extras{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	min-height: 300px;
	padding: .5rem;
}
.extra{
	background-color: lightgrey;
	box-shadow: 2px 2px 6px rgba(104, 104, 104, 1);	
}
.carousel-caption:hover{
	color: #2467FF;
	font-weight: bolder;
}

/*FOOTER*/
footer{
	background-color: grey;
	height: 50px;
	text-align: left;
	color: white;
	line-height: 50px;
}
.back{
	margin-left: 120px;
}
.copyright{
	margin-left: 30px;
}
.back a{
	text-decoration: none;
	margin-left: 50px;
	color: white;
}
.back a:hover{
	color: black;
}

/*bootstrap slider*/
.carousel-item img{
	height: 300px;
	width: 100%;
}


/*CELLPHONE VIEWS*/

@media only screen and (max-width: 420px) {
	.main-about{
	grid-template-areas: 
	'resume'
	'resume'
	'sidebox-a'
	'sidebox-b';
	}
	.skills{
		grid-template-columns: repeat(2, 1fr);
	}
	.capstone{
		grid-template-columns: 1fr;
	}
	.main-extras{
		grid-template-columns: 1fr;
		height: 300px;
	}
	.right{
		width: 50%;
	}
	.main-nav ul{
		grid-template-columns: repeat(2, 1fr);
	}
	.left h2{
		font-size: 20px;
	}
	.left p{
		font-size: 10px;
		
	}
	footer{
		height: 100px;
		text-align: center;
		margin-top: 650px;
	}
	.back{
		text-align: center;
	}
}

/*Tablet views*/

@media only screen and (min-width:421px) and (max-width:960px){
	.right{
		width: 20%;
	}
	.skills{
		grid-template-columns: repeat(3, 1fr);
	}
}
